
<nav class="flex items-center text-black gap-4">
  <ul class="flex items-center gap-5">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>